#.gitignore
Sources/CANAPI/.svn
Sources/build_no.h
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/*.sln
Trial/*.vcxproj.user
Libraries/CANAPI/.vs
Libraries/CANAPI/x64
Libraries/CANAPI/x86
Libraries/CANAPI/Debug*
Libraries/CANAPI/Release*
Libraries/CANAPI/*.aps
Libraries/CANAPI/*.sln
Libraries/CANAPI/*.vcxproj.user
Libraries/UVPCAN/.vs
Libraries/UVPCAN/x64
Libraries/UVPCAN/x86
Libraries/UVPCAN/Debug*
Libraries/UVPCAN/Release*
Libraries/UVPCAN/*.sln
Libraries/UVPCAN/*.aps
Libraries/UVPCAN/*.vcxproj.user
Utilities/.vs
Utilities/x64
Utilities/x86
Utilities/Debug
Utilities/Release
Utilities/can_moni/.vs
Utilities/can_moni/x64
Utilities/can_moni/x86
Utilities/can_moni/Debug
Utilities/can_moni/Release
Utilities/can_moni/*.sln
Utilities/can_moni/*.vcxproj.user
Utilities/can_test/.vs
Utilities/can_test/x64
Utilities/can_test/x86
Utilities/can_test/Debug
Utilities/can_test/Release
Utilities/can_test/*.sln
Utilities/can_test/*.vcxproj.user
Binaries
Includes
Testing
