#.gitignore
Sources/CANAPI/.svn
Sources/build_no.h
Trial/Trial.vcxproj/.vs
Trial/Trial.vcxproj/x64
Trial/Trial.vcxproj/x86
Trial/Trial.vcxproj/Debug
Trial/Trial.vcxproj/Release
Trial/Trial.vcxproj/Trial.sln
Trial/Trial.vcxproj/Trial.vcxproj.user
Libraries/CANAPI.vcxproj/.vs
Libraries/CANAPI.vcxproj/x64
Libraries/CANAPI.vcxproj/x86
Libraries/CANAPI.vcxproj/Debug
Libraries/CANAPI.vcxproj/Release
Libraries/CANAPI.vcxproj/CANAPI.sln
Libraries/CANAPI.vcxproj/CANAPI.vcxproj.user
