#.gitignore
Sources/CANAPI/.svn
Sources/build_no.h
Trial/.vs
Trial/x64
Trial/x86
Trial/Debug
Trial/Release
Trial/*.sln
Trial/*.vcxproj.user
Libraries/CANAPI/.vs
Libraries/CANAPI/x64
Libraries/CANAPI/x86
Libraries/CANAPI/Debug*
Libraries/CANAPI/Release*
Libraries/CANAPI/*.aps
Libraries/CANAPI/*.sln
Libraries/CANAPI/*.vcxproj.user
Libraries/UVPCAN/.vs
Libraries/UVPCAN/x64
Libraries/UVPCAN/x86
Libraries/UVPCAN/Debug*
Libraries/UVPCAN/Release*
Libraries/UVPCAN/*.sln
Libraries/UVPCAN/*.aps
Libraries/UVPCAN/*.vcxproj.user
Binaries
Includes
Testing
Utilities
